Package: ch.xxtou.webkitnetworkingdumper
Name: WebKitNetworkingDumper
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rachel
Author: Rachel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
